<nav  class="nav">
  <ul>
    <li class="nav-quines-somos nav-current" role="presentation"><a href="#sobre-nosotros"><h2>Quiénes somos</h2></a></li>
    <li class="nav-qu-hacemos" role="presentation"><a href="#que-hacemos"><h2>Qué hacemos</h2></a></li>
    <li class="nav-wall-screen" role="presentation"><a href="#wall-screen"><h2>Wall screen</h2></a></li>
    <li class="nav-clientes" role="presentation"><a href="#clientes"><h2>Clientes</h2></a></li>
    <li class="nav-contacto" role="presentation"><a href="mailto:federico@tttpublicidad.com"><h2>Contacto</h2></a></li>
  </ul>
</nav>
