// =============================================================================
// HOME PAGE STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.home-template .content {
  background-color: $white;
  padding: $distance * 3;
  padding-left: $distance * 2;
  position: relative;
  z-index: 3;

  .white-box {
    background-color: $white;
    margin-top: -$distance * 6;
    padding: $distance * 6 $distance * 3;
    text-align: center;
    width: 40vw;

    @include mq(mobile) {
      margin-top: -$distance * 4.5;
      padding: $distance * 4.5 0;
      width: calc(100vw - #{$distance * 10});
    }

    .ttt-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 0;
      height: 12vw;
      width: 12vw;

      @include mq(mobile) {
        height: 40vw;
        width: 40vw;
      }
    }

    p {
      font-size: $fsmall;
      margin: $distance * 3 auto;

      @include mq(mobile) {
        font-size: $ftiny;
      }
    }

    ul {
      display: block;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;
        padding: $distance / 2 0;

        @include mq(mobile) {
          width: 100%;
        }

        > * {
          font-size: $fsmall;
          line-height: $icon;

          @include mq(mobile) {
            font-size: $ftiny;
          }
        }

        + li {
          margin-left: $distance * 3;

          @include mq(mobile) {
            margin-left: 0;
          }
        }
      }
    }

    .facebook-link,
    .phone-link {
      &::before {
        background-color: $secondary;
        background-position: center;
        background-size: cover;
        border-radius: $border;
        content: '';
        display: inline-block;
        height: $icon;
        margin-right: $distance;
        vertical-align: top;
        width: $icon;

        @include mq(mobile) {
          height: $icon * .8;
          margin-right: $distance / 2;
          width: $icon * .8;
        }
      }
    }

    .facebook-link::before {
      background-image: url('../img/icon-facebook_1.svg');
    }

    .phone-link::before {
      background-image: url('../img/icon-phone_1.svg');
    }
  }
}

.home-template {
  background-color: $primary;

  &::after {
    border: $distance * 3 solid $white;
    border-left: $distance * 2 solid $white;
    border-bottom: 0;
    content: '';
    height: calc(100% - #{$distance * 3});
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - #{$distance * 5});
    z-index: 2;
  }
}
// -----------------------------------------------------------------------------
