// =============================================================================
// POST SIDE MENUS
// =============================================================================


// General
// -----------------------------------------------------------------------------
.menu-left,
.menu-right {
  animation: item-in .666s ease-out forwards; // Slide In animation
  bottom: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 90px;
  z-index: $z-top;
}

.menu-left {
  background-color: $white;
  border-right: 1px solid $secondary;
  left: 0;

  .icon-logo,
  .icon-name {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    left: $distance;
    position: absolute;
    width: calc(100% - #{$distance * 2});
  }

  .icon-logo {
    background-image: url('../img/logo_blue.svg');
    top: $distance * 7;
    height: $distance * 10;
  }

  .icon-name {
    background-image: url('../img/logo-name_blue.svg');
    bottom: $distance * 4;
    height: $distance * 6;
  }
}

.menu-right {
  background-color: $primary;
  right: 0;
}
// -----------------------------------------------------------------------------
