// =============================================================================
// HOME PAGE CASE-STUDY BLOCK
// =============================================================================


// Case Study box
// -----------------------------------------------------------------------------
.case-study {
  @include inline-block;
  animation: blured-out .999s ease-out forwards; // Blur out animation
  height: $case-size * .75;
  margin: $distance / 2;
  max-height: #{(($site-box - $distance * 5) / 4) - $distance * 2};
  max-width: #{(($site-box - $distance * 5) / 4) - $distance * 2};
  position: relative;
  width: $case-size;

  @include mq(hybrid) {
    height: $m-case-size;
    max-height: calc(50vw - #{$distance * 3});
    max-width: calc(50vw - #{$distance * 3});
    width: $m-case-size;
  }

  > a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: block;
    height: 100%;
    transition: transform 150ms;
    width: 100%;

    &:hover {
      transform: scale(.95);
    }
  }

  img {
    height: 0;
    width: 0;
  }
}
// -----------------------------------------------------------------------------
