// =============================================================================
// FOOTER STYLES
// =============================================================================


// Base Styles
// -----------------------------------------------------------------------------
.site-footer {
  background-color: $primary;
  background-image: url('../img/background-dark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $footer-height;
  max-width: calc(100% - #{$distance * 6});
  position: relative;
  width: 100%;

  @include mq(mobile) {
    height: auto;
    text-align: center;
  }


// Copyright
// -----------------------------------------------------------------------------
  .copyright {
    bottom: 0;
    color: $white;
    font-size: $ftiny;
    left: 0;
    line-height: $footer-height;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include mq(mobile) {
      font-size: 3.5vw;
      position: static;
    }
  }
}
// -----------------------------------------------------------------------------
