// =============================================================================
// PAGE MAIN SECTION HEADER
// =============================================================================


// Define sizes
// -----------------------------------------------------------------------------
.hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(#{$site-height} - #{$distance * 3});
  max-width: calc(100% - #{$distance * 5});
  position: relative;
  width: 100%;
  z-index: 3;

  &.no-cover {background-color: $primary;}

  &.hero-section:not(.no-cover) {
    animation: item-in .666s ease-out forwards; // Slide In animation
  }

// Main image
// -----------------------------------------------------------------------------
  > * {
    animation: item-in .666s ease-out forwards; // Slide In animation
  }

  .blog-cover {
    background-position: right top -10vh;
    background-repeat: no-repeat;
    background-size: 65vh;
    display: block;
    height: calc(100vh - #{$distance * 3});
    position: absolute;
    right: 0;
    top: 0;
    width: 65vh;
    z-index: 5;
  }

  .blog-title {
    height: calc(100vh - #{$distance * 3});
    left: $distance * -1.5;
    position: absolute;
    z-index: 5;

    > div {
      @include vertical-center;
    }

    h1 {
      color: $secondary;
      font-size: 8vw;
      font-weight: $medium;
      line-height: $line-height;
      letter-spacing: .1em;
      text-transform: uppercase;
      word-spacing: 100vw;
    }

    h2 {
      color: $secondary;
      font-size: 5vw;
      font-weight: $light;
      line-height: $line-height;
      letter-spacing: .375em;
      text-transform: uppercase;
      word-spacing: 100vw;
    }
  }
// -----------------------------------------------------------------------------
}
// -----------------------------------------------------------------------------
