// =============================================================================
// SITE MENU STYLES
// =============================================================================


// Icon styles
// -----------------------------------------------------------------------------
.back-icon,
.menu-icon,
.menu-icon-left {
  background-image: url('../img/icon-menu_white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $secondary;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: $header-height / 3;
  position: fixed;
  right: $distance * 4;
  top: $distance * 3.5;
  width: $header-height / 3;
  z-index: $z-top - 1;

  &.nav-close {
    background-image: url('../img/icon-menu_close.svg');
  }

  &.icon-blue,
  &.menu-icon-left {
    background-image: url('../img/icon-menu_blue.svg');
  }

  &.menu-icon-left {
    background-color: $secondary;
    background-size: $header-height / 3;
    border-radius: 50%;
    height: $header-height / 2;
    right: 0;
    top: $distance * 10;
    transform: translateX(50%);
    width: $header-height / 2;
  }

  &:focus {
    outline: none;
  }
}
// -----------------------------------------------------------------------------
