// =============================================================================
// SITE MENU STYLES
// =============================================================================


// General styles
// -----------------------------------------------------------------------------
// Nav block
// -----------------------------------------------------------------------------
body > .nav {
  background-color: rgba($primary, .8);
  height: calc(100vh - #{$distance * 6});
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: $distance * 3;
  top: $distance * 3;
  transition: width 300ms ease-out;
  width: 0;
  z-index: $z-top - 2;

  &.opened {
    pointer-events: all;
    width: 25vw;

    @include mq(mobile) {
      width: 66.66vw;
    }

    li {
      animation: item-in .666s 150ms ease-out forwards; // Slide In animation
    }
  }


// Main content
// -----------------------------------------------------------------------------
  > ul {
    position: absolute;
    left: $distance * 6;
    top: $header-height + $distance * 3;
  }


// Type & texts ----------------------------------------------------------------
  li {
    display: block;
    list-style: none;
    opacity: 0;

    &:hover,
    &.nav-current {
      a h2 {
        color: $secondary;
      }
    }

    > a {
      display: block;
      margin-right: 0;
      padding-left: 1vw;
      padding-right: $distance;

      h2 {
        color: $white;
        font-size: 2vw;
        font-weight: $regular;
        line-height: $line-height * 2;
        position: relative;
        transition: all 150ms ease-out;

        @include mq(mobile) {
          font-size: 5vw;
        }

        &:first-letter {
          border-bottom: $border / 1.5 solid;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------


// LEFT Nav block
// -----------------------------------------------------------------------------
body > .left-nav {
  background-color: $white;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 300ms ease-out;
  width: 0;
  z-index: $z-top - 2;

  &.opened {
    pointer-events: all;
    width: 25vw;

    @include mq(mobile) {
      width: 66.66vw;
    }

    li {
      animation: item-in .666s 150ms ease-out forwards; // Slide In animation
    }
  }


// Main content
// -----------------------------------------------------------------------------
  > .nav > ul {
    @include vertical-center;
    right: $distance * 3;

    @include mq(mobile) {
      right: $distance * 2;
    }
  }


// Type & texts ----------------------------------------------------------------
  li {
    display: block;
    list-style: none;
    opacity: 0;

    &:hover {
      a h2 {
        text-shadow: .08em .08em $secondary;
      }
    }

    > a {
      display: block;
      margin-right: 0;
      padding-left: 1vw;
      padding-right: $distance;

      h2 {
        color: $primary;
        font-size: 1.33vw;
        font-weight: $medium;
        line-height: $line-height * 2;
        position: relative;
        transition: all 150ms ease-out;

        @include mq(mobile) {
          font-size: 5vw;
        }

        &:first-letter {
          border-bottom: $border / 1.5 solid;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------
