// =============================================================================
// SITE MENU STYLES
// =============================================================================


// General styles
// -----------------------------------------------------------------------------
// Nav block
// -----------------------------------------------------------------------------
body > nav {
  background-color: rgba($primary, .8);
  height: calc(100vh - #{$distance * 6});
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: $distance * 3;
  top: $distance * 3;
  transition: width 300ms ease-out;
  width: 0;
  z-index: $z-top - 2;

  &.opened {
    pointer-events: all;
    width: 25vw;
  }


// Main content
// -----------------------------------------------------------------------------
  > ul {
    position: absolute;
    left: $distance * 6;
    top: $header-height + $distance * 3;
  }


// Type & texts ----------------------------------------------------------------
  li {
    display: block;
    list-style: none;

    &:hover,
    &.nav-current {
      a h2 {
        color: $secondary;
      }
    }

    > a {
      display: block;
      margin-right: 0;
      padding-left: 1vw;
      padding-right: $distance;

      h2 {
        color: $white;
        font-size: 2vw;
        font-weight: $regular;
        line-height: $line-height * 2;
        position: relative;
        transition: all 150ms ease-out;

        &:first-letter {
          border-bottom: $border / 1.5 solid;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------
