// =============================================================================
// HEADER STYLES
// =============================================================================


// General properties
// -----------------------------------------------------------------------------
.main-nav,
.pages-nav {
  border-top: $distance solid $primary;
  height: $header-height + $distance;
  left: $distance;
  max-width: calc(100% - #{$distance * 2});
  padding: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: left 300ms ease-out;
  width: 100%;
  z-index: $z-top - 2;

  @include mq(mobile) {
    height: $header-height / 1.5 + $distance;
  }

  &.active {
    background-color: $white;
    pointer-events: all;

    &::after {
      border-bottom: $border solid $secondary;
      bottom: -$border / 2;
      content: '';
      display: block;
      left: $distance;
      position: absolute;
      width: calc(100% - #{$distance * 2});

      @include mq(mobile) {
        left: $distance / 2;
        width: calc(100% - #{$distance});
      }
    }

    .logo {
      opacity: 1;
    }
  }

  .logo {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 0;
    height: $header-height - $distance * 3;
    margin: $distance * 1.5 $distance * 2;
    opacity: 0;
    transition: opacity 150ms ease-out;
    width: $header-height * 2 - $distance * 3;

    @include mq(mobile) {
      height: $header-height / 2.2;
      margin: $distance;
      width: $header-height + $distance;
    }
  }
}

.pages-nav {
  pointer-events: all;
  transition: left 300ms ease-out, background-color 150ms ease-out;

  .logo {
    opacity: 1;
  }
}
// -----------------------------------------------------------------------------
