// =============================================================================
// HOME PAGE CASE-STUDY BLOCK
// =============================================================================


// Case Study box
// -----------------------------------------------------------------------------
.clients {
  background-color: $primary;
  max-width: calc(100% - #{$distance * 18});
  padding: $distance * 3;
  width: 100%;
}

.work-sample {
  @include inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: calc((100vw - #{$distance * 24}) / 6);
  color: $white;
  height: calc((100vw - #{$distance * 24}) / 5);
  position: relative;
  transition: all 150ms ease-out;
  width: calc((100vw - #{$distance * 24}) / 3);

  &:hover {
    background-color: $secondary;
    background-position: bottom center;
    color: $primary;
  }

  &:nth-child(3n-1),
  &:nth-child(3n) {
    border-left: 1px solid $secondary;
  }

  &:nth-child(4n)::before {
    border-top: 1px solid $secondary;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 300%;
  }

  h5 {
    @include vertical-center;
    display: block;
    text-align: center;
    width: 100%;

    &:first-letter {
      border-bottom: $border / 1.5 solid;
    }
  }

  .post-title {
    font-weight: $regular;
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;
  }
}
// -----------------------------------------------------------------------------
