@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900';
@keyframes item-in {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes menu-li-in {
  from {
    opacity: 0;
    transform: scale(1.1) translate3d(-50%, -50%, 10px); }
  to {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0); } }

@keyframes menu-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes menu-li-out {
  from {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0); }
  to {
    opacity: 0;
    transform: scale(1.1) translate3d(-50%, -50%, 10px); } }

@keyframes menu-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes op-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes header-in {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0); } }

@keyframes menu-h-in {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0); } }

@keyframes blured-out {
  from {
    -webkit-filter: blur(5px); }
  to {
    -webkit-filter: blur(0); } }

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; }

::selection {
  background: rgba(242, 255, 21, 0.33); }

html {
  font-size: 18px; }

body {
  background-color: white;
  color: #0d1d2b;
  font-family: "Roboto", sans-serif;
  font-feature-settings: 'kern';
  font-kerning: normal;
  font-smooth: always;
  font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  left: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  transition: left 300ms ease-out; }
  body.nav-opened {
    overflow: hidden; }
  body.left-nav-opened {
    left: 25vw;
    overflow: hidden; }
    body.left-nav-opened .menu-left {
      left: 25vw; }

.site-wrapper {
  min-height: calc(100vh - 50px);
  position: relative;
  width: 100%; }
  .site-wrapper .content {
    width: 100%; }

.menu-left,
.menu-right {
  animation: item-in .666s ease-out forwards;
  bottom: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 90px;
  z-index: 10000; }

.menu-left {
  background-color: white;
  border-right: 1px solid #f2ff15;
  left: 0;
  transition: left 300ms ease-out; }
  .menu-left .icon-logo,
  .menu-left .icon-name {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    left: 10px;
    position: absolute;
    width: calc(100% - 20px); }
  .menu-left .icon-logo {
    background-image: url("../img/logo_blue.svg");
    top: 70px;
    height: 100px; }
  .menu-left .icon-name {
    background-image: url("../img/logo-name_blue.svg");
    bottom: 40px;
    height: 60px; }

.menu-right {
  background-color: #0d1d2b;
  right: 0; }

.hi-box {
  background-color: #f2ff15;
  display: block;
  padding: 30px 40px;
  position: relative; }
  .hi-box::before {
    border: 3px solid #0d1d2b;
    content: '';
    display: block;
    height: calc(100% - 26px);
    left: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(100% - 26px);
    z-index: 1; }
  .hi-box h1,
  .hi-box h2,
  .hi-box h3,
  .hi-box h4,
  .hi-box h5,
  .hi-box h6 {
    color: #0d1d2b; }
    .hi-box h1:first-letter,
    .hi-box h2:first-letter,
    .hi-box h3:first-letter,
    .hi-box h4:first-letter,
    .hi-box h5:first-letter,
    .hi-box h6:first-letter {
      border-bottom: 2px solid; }
  .hi-box * {
    color: #0d1d2b;
    width: 100%; }

.gray-box {
  background-color: #f2f2f2;
  display: block;
  padding: 100px 40px;
  position: relative;
  text-align: center; }
  .gray-box::after, .gray-box::before {
    content: '•';
    font-size: 2rem;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%); }
  .gray-box::before {
    top: 60px; }
  .gray-box::after {
    bottom: 60px; }
  .gray-box * {
    color: #0d1d2b;
    width: 100%; }

.button {
  border: 1px solid black;
  color: black;
  display: inline-block;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  transition: color 150ms ease-out, border-color 150ms ease-out; }
  .button:hover {
    border: 1px solid #0d1d2b;
    color: #0d1d2b; }

.site-footer {
  background-color: #0d1d2b;
  background-image: url("../img/background-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  max-width: calc(100% - 60px);
  position: relative;
  width: 100%; }
  @media (max-width: 640px) {
    .site-footer {
      height: auto;
      text-align: center; } }
  .site-footer .copyright {
    bottom: 0;
    color: white;
    font-size: 0.7rem;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    @media (max-width: 640px) {
      .site-footer .copyright {
        font-size: 3.5vw;
        margin: 10px auto 0;
        position: static; } }

.hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 30px);
  max-width: calc(100% - 50px);
  position: relative;
  width: 100%;
  z-index: 3; }
  .hero-section.no-cover {
    background-color: #0d1d2b; }
  .hero-section.hero-section:not(.no-cover) {
    animation: item-in .666s ease-out forwards; }
  .hero-section > * {
    animation: item-in .666s ease-out forwards; }
  .hero-section .blog-cover {
    background-position: right top -10vh;
    background-repeat: no-repeat;
    background-size: 65vh;
    display: block;
    height: calc(100vh - 30px);
    position: absolute;
    right: 0;
    top: 0;
    width: 65vh;
    z-index: 5; }
    @media (max-width: 640px) {
      .hero-section .blog-cover {
        background-position: right top -1vh;
        background-size: 33.33vh;
        height: 65vh;
        width: 33.33vh; } }
  .hero-section .blog-title {
    height: calc(100vh - 30px);
    left: -15px;
    position: absolute;
    z-index: 5; }
    .hero-section .blog-title > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      @media (max-width: 640px) {
        .hero-section .blog-title > div {
          top: calc(100% - 60px);
          transform: translateY(-100%); } }
    .hero-section .blog-title h1 {
      color: #f2ff15;
      font-size: 8vw;
      font-weight: 500;
      line-height: 1.11em;
      letter-spacing: .1em;
      text-transform: uppercase;
      word-spacing: 100vw; }
      @media (max-width: 640px) {
        .hero-section .blog-title h1 {
          font-size: 15vw; } }
    .hero-section .blog-title h2 {
      color: #f2ff15;
      font-size: 5vw;
      font-weight: 300;
      line-height: 1.11em;
      letter-spacing: .375em;
      text-transform: uppercase;
      word-spacing: 100vw; }
      @media (max-width: 640px) {
        .hero-section .blog-title h2 {
          font-size: 9vw; } }

body > .nav {
  background-color: rgba(13, 29, 43, 0.8);
  height: calc(100vh - 60px);
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 30px;
  top: 30px;
  transition: width 300ms ease-out;
  width: 0;
  z-index: 9998; }
  body > .nav.opened {
    pointer-events: all;
    width: 25vw; }
    @media (max-width: 640px) {
      body > .nav.opened {
        width: 66.66vw; } }
    body > .nav.opened li {
      animation: item-in .666s 150ms ease-out forwards; }
  body > .nav > ul {
    position: absolute;
    left: 60px;
    top: 110px; }
  body > .nav li {
    display: block;
    list-style: none;
    opacity: 0; }
    body > .nav li:hover a h2, body > .nav li.nav-current a h2 {
      color: #f2ff15; }
    body > .nav li > a {
      display: block;
      margin-right: 0;
      padding-left: 1vw;
      padding-right: 10px; }
      body > .nav li > a h2 {
        color: white;
        font-size: 2vw;
        font-weight: 400;
        line-height: 2.22em;
        position: relative;
        transition: all 150ms ease-out; }
        @media (max-width: 640px) {
          body > .nav li > a h2 {
            font-size: 5vw; } }
        body > .nav li > a h2:first-letter {
          border-bottom: 2px solid; }

body > .left-nav {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 300ms ease-out;
  width: 0;
  z-index: 9998; }
  body > .left-nav.opened {
    pointer-events: all;
    width: 25vw; }
    body > .left-nav.opened li {
      animation: item-in .666s 150ms ease-out forwards; }
  body > .left-nav > .nav > ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px; }
  body > .left-nav li {
    display: block;
    list-style: none;
    opacity: 0; }
    body > .left-nav li:hover a h2 {
      text-shadow: 0.08em 0.08em #f2ff15; }
    body > .left-nav li > a {
      display: block;
      margin-right: 0;
      padding-left: 1vw;
      padding-right: 10px; }
      body > .left-nav li > a h2 {
        color: #0d1d2b;
        font-size: 1.33vw;
        font-weight: 500;
        line-height: 2.22em;
        position: relative;
        transition: all 150ms ease-out; }
        body > .left-nav li > a h2:first-letter {
          border-bottom: 2px solid; }

.back-icon,
.menu-icon,
.menu-icon-left {
  background-image: url("../img/icon-menu_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #f2ff15;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 26.66667px;
  position: fixed;
  right: 40px;
  top: 35px;
  width: 26.66667px;
  z-index: 9999; }
  .back-icon.nav-close,
  .menu-icon.nav-close,
  .menu-icon-left.nav-close {
    background-image: url("../img/icon-menu_close.svg"); }
  .back-icon.icon-blue, .back-icon.menu-icon-left,
  .menu-icon.icon-blue,
  .menu-icon.menu-icon-left,
  .menu-icon-left.icon-blue,
  .menu-icon-left.menu-icon-left {
    background-image: url("../img/icon-menu_blue.svg"); }
  .back-icon.menu-icon-left,
  .menu-icon.menu-icon-left,
  .menu-icon-left.menu-icon-left {
    background-color: #f2ff15;
    background-size: 26.66667px;
    border-radius: 50%;
    height: 40px;
    right: 0;
    top: 100px;
    transform: translateX(50%);
    width: 40px; }
  .back-icon:focus,
  .menu-icon:focus,
  .menu-icon-left:focus {
    outline: none; }

.post-content {
  position: relative; }
  .post-content:last-of-type {
    margin-bottom: 50px; }
  .post-content > * {
    margin-left: 0;
    max-width: 640px; }
    @media (max-width: 1044px) {
      .post-content > * {
        max-width: 100%; } }
  .post-content p {
    font-size: 1rem;
    line-height: 1.48em; }
    .post-content p + p {
      margin-top: 20px; }
    .post-content p a {
      color: #555555; }
      .post-content p a:not(.button):hover {
        border: 0;
        color: gray; }
  .post-content ol,
  .post-content ul {
    padding-left: 20px; }
    .post-content ol li,
    .post-content ul li {
      font-size: 1rem; }
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    line-height: 3.33em; }
  .post-content blockquote {
    border-left: 6px solid #e5e5e5;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.11em;
    margin: 20px auto;
    padding: 0 20px; }
  .post-content code:not([class*='language-']) {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #f2f2f2;
    font-size: 0.7rem;
    line-height: 1.48em;
    padding: 3.33333px 5px; }
  .post-content img {
    max-width: 100%; }
  .post-content hr {
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 20px 0; }

.social-links {
  bottom: 40px;
  left: 0;
  list-style: none;
  position: absolute;
  width: 100%; }
  .social-links li {
    padding-right: 20px;
    width: 100%; }
    .social-links li + li {
      margin-top: 10px; }
  .social-links a {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 36px;
    transform-origin: center;
    transition: transform .1s ease-out;
    vertical-align: middle;
    width: 36px; }
    .social-links a:hover {
      border: 0;
      transform: scale(0.9); }

a[class='facebook'] {
  background-image: url("../img/icon-facebook.svg"); }

a[class='instagram'] {
  background-image: url("../img/icon-instagram.svg"); }

a[class='mail'] {
  background-image: url("../img/icon-mail.svg"); }

span[tabindex='0'],
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.85rem; }

.clients {
  background-color: #0d1d2b;
  max-width: calc(100% - 180px);
  padding: 30px;
  position: relative;
  width: 100%; }
  .clients::before {
    border-top: 2px solid #0d1d2b;
    content: '';
    position: absolute;
    right: 0;
    top: -60px;
    width: 80%; }

.work-sample {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc((100vw - 240px) / 6);
  color: white;
  height: calc((100vw - 240px) / 5);
  position: relative;
  transition: all 150ms ease-out;
  width: calc((100vw - 240px) / 3); }
  .work-sample:not(.work-title):hover {
    background-color: #f2ff15;
    background-size: 0;
    color: #0d1d2b; }
    .work-sample:not(.work-title):hover > div {
      opacity: 1; }
  .work-sample:nth-child(3n-2), .work-sample:nth-child(3n-1) {
    border-right: 1px solid #f2ff15; }
  .work-sample:nth-child(4n)::before {
    border-top: 1px solid #f2ff15;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 300%; }
  .work-sample > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transform: all 150ms;
    width: 100%; }
  .work-sample h5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    text-align: center;
    width: 100%; }
    .work-sample h5:first-letter {
      border-bottom: 2px solid; }
  .work-sample .title {
    font-weight: 700; }
  .work-sample .title,
  .work-sample .description {
    display: block;
    text-align: center;
    width: 100%; }

.page-template .post-title {
  line-height: 1.11em;
  max-width: 640px;
  width: 66.66%; }
  .page-template .post-title:first-letter {
    border-bottom: 2px solid; }

.page-template p {
  font-size: 1rem;
  max-width: 640px;
  padding-left: 30px;
  width: 66.66%; }

.tag-who {
  margin-bottom: 80px;
  margin-top: 40px;
  max-width: calc(100% - 180px);
  position: relative;
  width: 100%; }
  .tag-who::before {
    border-top: 2px solid #0d1d2b;
    content: '';
    position: absolute;
    width: 80%; }
  .tag-who .post-content {
    margin-left: 10%;
    padding-top: 80px; }
  .tag-who .box {
    background-color: #f2ff15;
    display: block;
    height: calc((100vw - 180px) / 2);
    margin-right: 0;
    width: calc((100vw - 180px) / 1.5); }

.tag-what {
  max-width: calc(100% - 180px);
  padding-top: 40px;
  position: relative;
  width: 100%; }
  .tag-what::before {
    border-top: 2px solid #0d1d2b;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 80%; }
  .tag-what .post-content {
    background-color: #0d1d2b;
    color: white;
    margin-left: calc(10% - 60px);
    padding: 40px 60px;
    width: calc(80% + 120px); }
    .tag-what .post-content .post-image {
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      border-left: 1px solid #f2ff15;
      min-height: 150px;
      position: absolute;
      right: 60px;
      top: 40px;
      width: 25%; }

.tag-product {
  margin-bottom: 100px;
  margin-top: 40px;
  max-width: calc(100% - 180px);
  position: relative;
  width: 100%; }
  .tag-product::before {
    border-top: 2px solid #0d1d2b;
    content: '';
    position: absolute;
    width: 80%; }
  .tag-product .post-content {
    margin-left: 10%;
    padding-top: 80px; }
    .tag-product .post-content h1,
    .tag-product .post-content h2,
    .tag-product .post-content h3,
    .tag-product .post-content h4,
    .tag-product .post-content h5,
    .tag-product .post-content h6 {
      line-height: 1.11em;
      margin-bottom: 20px; }
    .tag-product .post-content p {
      width: 100%; }
  .tag-product .hi-box {
    z-index: 1; }
  .tag-product .gray-box {
    left: 40%;
    margin-top: -20px;
    position: relative;
    transform: translateX(-50%);
    z-index: 0; }

.tag-example {
  margin-bottom: 100px;
  margin-top: 40px;
  margin-left: calc(10% - 60px);
  padding: 40px 60px;
  position: relative;
  width: calc(80% + 120px); }
  .tag-example .post-content,
  .tag-example .post-image {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top; }
  .tag-example .post-content {
    background-color: #f2ff15;
    height: 20vw;
    width: 20vw; }
    .tag-example .post-content > div {
      bottom: 20px;
      position: absolute;
      right: 10px;
      width: calc(100% - 20px); }
      .tag-example .post-content > div * {
        float: right;
        font-size: 0.85rem; }
  .tag-example .post-image {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vw;
    width: 60vw; }

.home-template .content {
  background-color: white;
  padding: 30px;
  padding-left: 20px;
  position: relative;
  z-index: 3; }
  .home-template .content .white-box {
    background-color: white;
    margin-top: -60px;
    padding: 60px 30px;
    text-align: center;
    width: 40vw; }
    @media (max-width: 640px) {
      .home-template .content .white-box {
        margin-top: -45px;
        padding: 45px 0;
        width: calc(100vw - 100px); } }
    .home-template .content .white-box .ttt-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 0;
      height: 12vw;
      width: 12vw; }
      @media (max-width: 640px) {
        .home-template .content .white-box .ttt-logo {
          height: 40vw;
          width: 40vw; } }
    .home-template .content .white-box p {
      font-size: 0.85rem;
      margin: 30px auto; }
      @media (max-width: 640px) {
        .home-template .content .white-box p {
          font-size: 0.7rem; } }
    .home-template .content .white-box ul {
      display: block;
      text-align: center;
      width: 100%; }
      .home-template .content .white-box ul li {
        display: inline-block;
        padding: 5px 0; }
        @media (max-width: 640px) {
          .home-template .content .white-box ul li {
            width: 100%; } }
        .home-template .content .white-box ul li > * {
          font-size: 0.85rem;
          line-height: 24px; }
          @media (max-width: 640px) {
            .home-template .content .white-box ul li > * {
              font-size: 0.7rem; } }
        .home-template .content .white-box ul li + li {
          margin-left: 30px; }
          @media (max-width: 640px) {
            .home-template .content .white-box ul li + li {
              margin-left: 0; } }
    .home-template .content .white-box .facebook-link::before,
    .home-template .content .white-box .phone-link::before {
      background-color: #f2ff15;
      background-position: center;
      background-size: cover;
      border-radius: 3px;
      content: '';
      display: inline-block;
      height: 24px;
      margin-right: 10px;
      vertical-align: top;
      width: 24px; }
      @media (max-width: 640px) {
        .home-template .content .white-box .facebook-link::before,
        .home-template .content .white-box .phone-link::before {
          height: 19.2px;
          margin-right: 5px;
          width: 19.2px; } }
    .home-template .content .white-box .facebook-link::before {
      background-image: url("../img/icon-facebook_1.svg"); }
    .home-template .content .white-box .phone-link::before {
      background-image: url("../img/icon-phone_1.svg"); }

.home-template {
  background-color: #0d1d2b; }
  .home-template::after {
    border: 30px solid white;
    border-left: 20px solid white;
    border-bottom: 0;
    content: '';
    height: calc(100% - 30px);
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 50px);
    z-index: 2; }
