@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900';
@keyframes item-in {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes menu-li-in {
  from {
    opacity: 0;
    transform: scale(1.1) translate3d(-50%, -50%, 10px); }
  to {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0); } }

@keyframes menu-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes menu-li-out {
  from {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0); }
  to {
    opacity: 0;
    transform: scale(1.1) translate3d(-50%, -50%, 10px); } }

@keyframes menu-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes op-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes header-in {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0); } }

@keyframes menu-h-in {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0); } }

@keyframes blured-out {
  from {
    -webkit-filter: blur(5px); }
  to {
    -webkit-filter: blur(0); } }

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; }

html {
  font-size: 18px; }

body {
  background-color: white;
  color: #0d1d2b;
  font-family: "Roboto", sans-serif;
  font-feature-settings: 'kern';
  font-kerning: normal;
  font-smooth: always;
  font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  left: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  transition: left 300ms ease-out; }
  body.nav-opened {
    overflow: hidden; }

.site-wrapper {
  min-height: calc(100vh - 50px);
  position: relative;
  width: 100%; }
  .site-wrapper .content {
    width: 100%; }

.menu-left,
.menu-right {
  animation: item-in .666s ease-out forwards;
  bottom: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 90px;
  z-index: 10000; }

.menu-left {
  background-color: white;
  border-right: 1px solid #f2ff15;
  left: 0; }
  .menu-left .icon-logo,
  .menu-left .icon-name {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    left: 10px;
    position: absolute;
    width: calc(100% - 20px); }
  .menu-left .icon-logo {
    background-image: url("../img/logo_blue.svg");
    top: 70px;
    height: 100px; }
  .menu-left .icon-name {
    background-image: url("../img/logo-name_blue.svg");
    bottom: 40px;
    height: 60px; }

.menu-right {
  background-color: #0d1d2b;
  right: 0; }

.hi-box {
  background-color: #0d1d2b;
  display: block;
  padding: 30px 40px;
  position: relative; }
  @media (max-width: 640px) {
    .hi-box {
      padding: 20px; } }
  .hi-box::before {
    border: 3px solid #f2ff15;
    content: '';
    display: block;
    height: calc(100% - 26px);
    left: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(100% - 26px);
    z-index: 1; }
    @media (max-width: 640px) {
      .hi-box::before {
        height: calc(100% - 16px);
        left: 5px;
        right: 5px;
        top: 5px;
        width: calc(100% - 16px); } }
  .hi-box h1,
  .hi-box h2,
  .hi-box h3,
  .hi-box h4,
  .hi-box h5,
  .hi-box h6 {
    color: white; }
  .hi-box * {
    color: #f2ff15; }

.case-study {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  animation: blured-out .999s ease-out forwards;
  height: 192px;
  margin: 5px;
  max-height: 223.5px;
  max-width: 223.5px;
  position: relative;
  width: 256px; }
  @media (max-width: 854px) {
    .case-study {
      height: calc(50vw - 30px);
      max-height: calc(50vw - 30px);
      max-width: calc(50vw - 30px);
      width: calc(50vw - 30px); } }
  .case-study > a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: block;
    height: 100%;
    transition: transform 150ms;
    width: 100%; }
    .case-study > a:hover {
      transform: scale(0.95); }
  .case-study img {
    height: 0;
    width: 0; }

.tag-template .post.tag-brands {
  border-left: 6px solid transparent;
  margin: 0;
  max-width: 960px;
  transition: all 150ms ease-out;
  width: 100%; }
  .tag-template .post.tag-brands:hover {
    border-left: 6px solid #0d1d2b; }
  .tag-template .post.tag-brands:last-of-type {
    margin-bottom: 50px; }
  .tag-template .post.tag-brands figure {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    max-height: 10vw;
    max-width: 10vw;
    min-height: 150px;
    min-width: 150px;
    vertical-align: middle; }
  .tag-template .post.tag-brands section {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    font-style: italic;
    padding: 10px 30px;
    vertical-align: middle; }
    .tag-template .post.tag-brands section h5 {
      font-style: normal; }
    .tag-template .post.tag-brands section a {
      font-style: normal;
      text-decoration: underline; }
      .tag-template .post.tag-brands section a:hover {
        color: #0d1d2b; }
  .tag-template .post.tag-brands hr {
    border: 0;
    border-top: 1px solid #d9dadc;
    margin: 20px 0 0; }

.button {
  border: 1px solid black;
  color: black;
  display: inline-block;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  transition: color 150ms ease-out, border-color 150ms ease-out; }
  .button:hover {
    border: 1px solid #0d1d2b;
    color: #0d1d2b; }

.site-footer {
  background-color: #0d1d2b;
  background-image: url("../img/background-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  max-width: calc(100% - 60px);
  position: relative;
  width: 100%; }
  @media (max-width: 640px) {
    .site-footer {
      height: auto;
      text-align: center; } }
  .site-footer .copyright {
    bottom: 0;
    color: white;
    font-size: 0.7rem;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    @media (max-width: 640px) {
      .site-footer .copyright {
        font-size: 3.5vw;
        margin: 10px auto 0;
        position: static; } }

.hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 30px);
  max-width: calc(100% - 60px);
  position: relative;
  width: 100%;
  z-index: 3; }
  .hero-section.no-cover {
    background-color: #0d1d2b; }
  .hero-section.hero-section:not(.no-cover) {
    animation: item-in .666s ease-out forwards; }
  .hero-section > * {
    animation: item-in .666s ease-out forwards; }
  .hero-section .blog-cover {
    background-position: right top -10vh;
    background-repeat: no-repeat;
    background-size: 65vh;
    display: block;
    height: calc(100vh - 30px);
    position: absolute;
    right: 0;
    top: 0;
    width: 65vh;
    z-index: 5; }
  .hero-section .blog-title {
    height: calc(100vh - 30px);
    left: -15px;
    position: absolute;
    z-index: 5; }
    .hero-section .blog-title > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .hero-section .blog-title h1 {
      color: #f2ff15;
      font-size: 8vw;
      font-weight: 500;
      line-height: 1.11em;
      letter-spacing: .1em;
      text-transform: uppercase;
      word-spacing: 100vw; }
    .hero-section .blog-title h2 {
      color: #f2ff15;
      font-size: 5vw;
      font-weight: 300;
      line-height: 1.11em;
      letter-spacing: .375em;
      text-transform: uppercase;
      word-spacing: 100vw; }

body > nav {
  background-color: rgba(13, 29, 43, 0.8);
  height: calc(100vh - 60px);
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 30px;
  top: 30px;
  transition: width 300ms ease-out;
  width: 0;
  z-index: 9998; }
  body > nav.opened {
    pointer-events: all;
    width: 25vw; }
  body > nav > ul {
    position: absolute;
    left: 60px;
    top: 110px; }
  body > nav li {
    display: block;
    list-style: none; }
    body > nav li:hover a h2, body > nav li.nav-current a h2 {
      color: #f2ff15; }
    body > nav li > a {
      display: block;
      margin-right: 0;
      padding-left: 1vw;
      padding-right: 10px; }
      body > nav li > a h2 {
        color: white;
        font-size: 2vw;
        font-weight: 400;
        line-height: 2.22em;
        position: relative;
        transition: all 150ms ease-out; }
        body > nav li > a h2:first-letter {
          border-bottom: 2px solid; }

.back-icon,
.menu-icon,
.menu-icon-left {
  background-image: url("../img/icon-menu_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #f2ff15;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 26.66667px;
  position: fixed;
  right: 40px;
  top: 35px;
  width: 26.66667px;
  z-index: 9999; }
  .back-icon.nav-close,
  .menu-icon.nav-close,
  .menu-icon-left.nav-close {
    background-image: url("../img/icon-menu_close.svg"); }
  .back-icon.icon-blue, .back-icon.menu-icon-left,
  .menu-icon.icon-blue,
  .menu-icon.menu-icon-left,
  .menu-icon-left.icon-blue,
  .menu-icon-left.menu-icon-left {
    background-image: url("../img/icon-menu_blue.svg"); }
  .back-icon.menu-icon-left,
  .menu-icon.menu-icon-left,
  .menu-icon-left.menu-icon-left {
    background-color: #f2ff15;
    background-size: 26.66667px;
    border-radius: 50%;
    height: 40px;
    right: 0;
    top: 100px;
    transform: translateX(50%);
    width: 40px; }
  .back-icon:focus,
  .menu-icon:focus,
  .menu-icon-left:focus {
    outline: none; }

.main-nav,
.pages-nav {
  border-top: 10px solid #0d1d2b;
  height: 90px;
  left: 10px;
  max-width: calc(100% - 20px);
  padding: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: left 300ms ease-out;
  width: 100%;
  z-index: 9998; }
  @media (max-width: 640px) {
    .main-nav,
    .pages-nav {
      height: 63.33333px; } }
  .main-nav.active,
  .pages-nav.active {
    background-color: white;
    pointer-events: all; }
    .main-nav.active::after,
    .pages-nav.active::after {
      border-bottom: 3px solid #f2ff15;
      bottom: -1.5px;
      content: '';
      display: block;
      left: 10px;
      position: absolute;
      width: calc(100% - 20px); }
      @media (max-width: 640px) {
        .main-nav.active::after,
        .pages-nav.active::after {
          left: 5px;
          width: calc(100% - 10px); } }
    .main-nav.active .logo,
    .pages-nav.active .logo {
      opacity: 1; }
  .main-nav .logo,
  .pages-nav .logo {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 0;
    height: 50px;
    margin: 15px 20px;
    opacity: 0;
    transition: opacity 150ms ease-out;
    width: 130px; }
    @media (max-width: 640px) {
      .main-nav .logo,
      .pages-nav .logo {
        height: 36.36364px;
        margin: 10px;
        width: 90px; } }

.pages-nav {
  pointer-events: all;
  transition: left 300ms ease-out, background-color 150ms ease-out; }
  .pages-nav .logo {
    opacity: 1; }

.post-content {
  position: relative; }
  .post-content:last-of-type {
    margin-bottom: 50px; }
  .post-content > * {
    margin-left: 0;
    max-width: 960px; }
    @media (max-width: 1044px) {
      .post-content > * {
        max-width: 100%; } }
  .post-content p {
    font-size: 1rem;
    line-height: 1.48em; }
    .post-content p + p {
      margin-top: 20px; }
    .post-content p a {
      color: #555555; }
      .post-content p a:not(.button):hover {
        border: 0;
        color: gray; }
  .post-content ol,
  .post-content ul {
    padding-left: 20px; }
    .post-content ol li,
    .post-content ul li {
      font-size: 1rem; }
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    line-height: 3.33em; }
  .post-content blockquote {
    border-left: 6px solid #d9dadc;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.11em;
    margin: 20px auto;
    padding: 0 20px; }
  .post-content code:not([class*='language-']) {
    background-color: #e6e7e8;
    border: 1px solid #bec1c3;
    border-radius: 3px;
    color: #e6e7e8;
    font-size: 0.7rem;
    line-height: 1.48em;
    padding: 3.33333px 5px; }
  .post-content img {
    max-width: 100%; }
  .post-content hr {
    border: 0;
    border-top: 1px solid #d9dadc;
    margin: 20px 0; }

.social-links {
  bottom: 40px;
  left: 0;
  list-style: none;
  position: absolute;
  width: 100%; }
  .social-links li {
    padding-right: 20px;
    width: 100%; }
    .social-links li + li {
      margin-top: 10px; }
  .social-links a {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 36px;
    transform-origin: center;
    transition: transform .1s ease-out;
    vertical-align: middle;
    width: 36px; }
    .social-links a:hover {
      border: 0;
      transform: scale(0.9); }

a[class='facebook'] {
  background-image: url("../img/icon-facebook.svg"); }

a[class='instagram'] {
  background-image: url("../img/icon-instagram.svg"); }

a[class='mail'] {
  background-image: url("../img/icon-mail.svg"); }

span[tabindex='0'],
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.85rem; }

.work-sample {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
  position: relative; }
  @media (max-width: 854px) {
    .work-sample {
      margin-left: auto; } }
  .work-sample:nth-child(3n-2) {
    margin-left: 0; }
    @media (max-width: 854px) {
      .work-sample:nth-child(3n-2) {
        margin-left: auto; } }
  @media (max-width: 1044px) {
    .work-sample:nth-child(2n) {
      margin-left: 15px; } }
  @media (max-width: 854px) {
    .work-sample:nth-child(2n) {
      margin-left: auto; } }
  @media (max-width: 640px) {
    .work-sample:nth-child(2n) {
      margin-left: 15px; } }
  @media (max-width: 1044px) {
    .work-sample:nth-child(2n-1) {
      margin-left: 0; } }
  .work-sample > a > figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    max-height: 246px;
    max-width: 246px;
    width: 256px; }
    @media (max-width: 1044px) {
      .work-sample > a > figure {
        max-height: calc(((100vw - 340px) / 2) - 10px);
        max-width: calc(((100vw - 340px) / 2) - 10px); } }
    @media (max-width: 854px) {
      .work-sample > a > figure {
        max-height: calc((100vw - 340px) - 10px);
        max-width: calc((100vw - 340px) - 10px); } }
    @media (max-width: 640px) {
      .work-sample > a > figure {
        height: 128px;
        max-height: none;
        max-width: none;
        width: 128px; } }
  .work-sample > a > section {
    background-color: white;
    display: block;
    margin-bottom: 10px;
    width: 100%; }
  .work-sample .post-title {
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    text-align: center; }
    @media (max-width: 640px) {
      .work-sample .post-title {
        font-size: 0.7rem; } }

.tag-template .content {
  animation: op-in .999s ease-out forwards;
  margin-bottom: 50px;
  min-height: calc(100vh - 310px);
  text-align: left;
  width: 1024px; }
  @media (max-width: 1044px) {
    .tag-template .content {
      padding: 0 30px;
      width: 100%; } }
  @media (max-width: 640px) {
    .tag-template .content {
      padding: 0 10px; } }

.tag-template .tag-head {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33vh;
  position: relative;
  width: 100%; }

.tag-template .tag-description {
  animation: item-in .666s ease-out forwards;
  position: relative;
  top: -5.5rem;
  width: 1024px; }
  @media (max-width: 1044px) {
    .tag-template .tag-description {
      padding: 0 30px;
      width: 100%; } }
  @media (max-width: 854px) {
    .tag-template .tag-description {
      top: -20px; }
      .tag-template .tag-description h2 {
        line-height: 1.11em;
        margin-bottom: 10px; } }
  @media (max-width: 640px) {
    .tag-template .tag-description {
      padding: 0 10px; } }
  .tag-template .tag-description .hi-box {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    margin-left: 0;
    width: calc(50% - 10px); }
    @media (max-width: 854px) {
      .tag-template .tag-description .hi-box {
        width: 100%; } }
  .tag-template .tag-description .brands {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    margin-top: calc(5.5rem + 30px);
    margin-left: 10px;
    text-align: right;
    width: calc(50% - 10px); }
    @media (max-width: 854px) {
      .tag-template .tag-description .brands {
        display: none; } }
    .tag-template .tag-description .brands figure {
      display: inline-block;
      margin-right: -5px;
      vertical-align: top;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 75.33333px;
      margin-left: 5px;
      width: 75.33333px; }
      @media (max-width: 1044px) {
        .tag-template .tag-description .brands figure {
          width: calc((50vw - 30px) / 6 - 10px); } }
      .tag-template .tag-description .brands figure img {
        height: 0;
        width: 0; }

.tag-template .gallery-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 246px;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 5px;
  position: relative;
  transition: all 250ms ease-out;
  vertical-align: middle;
  width: 246px; }
  @media (max-width: 1044px) {
    .tag-template .gallery-image {
      height: calc((100vw - 80px) / 4 - 10px);
      width: calc((100vw - 80px) / 4 - 10px); } }
  @media (max-width: 854px) {
    .tag-template .gallery-image {
      height: calc((100vw - 80px) / 3 - 10px);
      width: calc((100vw - 80px) / 3 - 10px); } }
  @media (max-width: 640px) {
    .tag-template .gallery-image {
      height: calc(66vw - 50px);
      margin-bottom: calc(33vw - 30px);
      width: calc(100vw - 50px); } }
  .tag-template .gallery-image::after {
    border: 3px solid white;
    bottom: 5px;
    content: '';
    height: calc(100% - 16px);
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: calc(100% - 16px);
    z-index: 0; }
  .tag-template .gallery-image:hover::after {
    background-color: rgba(13, 29, 43, 0.5); }
  .tag-template .gallery-image:hover > h5,
  .tag-template .gallery-image:hover > p {
    opacity: 1; }
  .tag-template .gallery-image > h5 {
    text-shadow: 0.066em 0.066em #0d1d2b; }
  .tag-template .gallery-image > h5,
  .tag-template .gallery-image > p {
    color: white;
    line-height: 1.11em;
    opacity: 0;
    padding: 5px 10px 10px;
    position: relative;
    text-align: center;
    top: 30px;
    transition: all 250ms ease-out;
    width: calc(100% - 20px);
    z-index: 1; }
    @media (max-width: 640px) {
      .tag-template .gallery-image > h5,
      .tag-template .gallery-image > p {
        color: #f2ff15;
        opacity: 1;
        padding-bottom: 0;
        padding-top: 0;
        top: calc(66vw - 45px); } }

.home-template .content {
  background-color: white;
  padding: 30px;
  position: relative;
  z-index: 3; }
  .home-template .content .white-box {
    background-color: white;
    margin-top: -60px;
    padding: 60px 30px;
    text-align: center;
    width: 40vw; }
    .home-template .content .white-box .ttt-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 0;
      height: 12vw;
      width: 12vw; }
    .home-template .content .white-box p {
      font-size: 0.85rem;
      margin: 30px auto; }
    .home-template .content .white-box ul {
      display: block;
      text-align: center;
      width: 100%; }
      .home-template .content .white-box ul li {
        display: inline-block;
        padding: 5px 0; }
        .home-template .content .white-box ul li > * {
          font-size: 0.85rem;
          line-height: 24px; }
        .home-template .content .white-box ul li + li {
          margin-left: 30px; }
    .home-template .content .white-box .facebook-link::before,
    .home-template .content .white-box .phone-link::before {
      background-color: #f2ff15;
      background-position: center;
      background-size: cover;
      border-radius: 3px;
      content: '';
      display: inline-block;
      height: 24px;
      margin-right: 10px;
      vertical-align: top;
      width: 24px; }
    .home-template .content .white-box .facebook-link::before {
      background-image: url("../img/icon-facebook_1.svg"); }
    .home-template .content .white-box .phone-link::before {
      background-image: url("../img/icon-phone_1.svg"); }

.home-template {
  background-color: #0d1d2b; }
  .home-template::after {
    border: 30px solid white;
    border-bottom: 0;
    content: '';
    height: calc(100% - 30px);
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 60px);
    z-index: 2; }
