// =============================================================================
// SITE COLOR VARIABLES
// =============================================================================


// Main Palette
// -----------------------------------------------------------------------------
// Primary Color ---------------------------------------------------------------
$primary:                 rgb(13, 29, 43);
$primary-dark:            darken($primary, 10%);
$primary-light:           lighten($primary, 10%);

// Secondary Color -------------------------------------------------------------
$secondary:               rgb(242, 255, 21);
$secondary-dark:          darken($secondary, 10%);
$secondary-light:         lighten($secondary, 10%);
// -----------------------------------------------------------------------------


// Grayscale
// -----------------------------------------------------------------------------
$white:                   rgb(255, 255, 255);

$smoke:                   rgb(230, 231, 232);
$smoke-dark:              darken($smoke, 5%);

$black:                   rgb(0, 0, 0);
$black-light:             lighten($black, 10%);
// -----------------------------------------------------------------------------


// Gradients
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
