// =============================================================================
// SITE SIZE VARIABLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
$border:                     3px;
$distance:                   10px;
$icon:                       24px;
$line:                       3px;
$logo:                       6rem;
$z-top:                      10000;
$post-box:                   960px;
$site-box:                   1024px;
$tag-head:                   20vh;
$z-top:                      10000;
// -----------------------------------------------------------------------------


// Heights
// -----------------------------------------------------------------------------
$button-height:              60px;
$header-height:              80px;
$footer-height:              30px;
$section-height:             calc(100vh - #{$footer-height + $distance * 2});
$contact-height:             calc(100vh - #{$tag-head} - #{$header-height + $footer-height + $distance * 6});
$post-height:                calc(100vh - #{$footer-height});
$site-height:                100vh;
$post-heading-height:        720px;
// -----------------------------------------------------------------------------


// Navigation Menu
// -----------------------------------------------------------------------------
$menu-height:                $header-height;
$menu-width:                 calc(100% - #{$distance * 4}); // removed viewport units to enable scrollbar
// -----------------------------------------------------------------------------


// Hero Section
// -----------------------------------------------------------------------------
$hero-min-height:            450px;
$hero-width:                 100%; // removed viewport units to enable scrollbar
$hero-logo:                  25vw;
// -----------------------------------------------------------------------------

// Author
// -----------------------------------------------------------------------------
$auth-image:                 46px;
$auth-profile:               150px;
// -----------------------------------------------------------------------------


// Home page projects
// -----------------------------------------------------------------------------
$case-size:                  $site-box / 4;
$case-size-small:            $site-box / 8;
$m-case-size:                calc(50vw - #{$distance * 3});
// -----------------------------------------------------------------------------
