// =============================================================================
// ABOUT PAGE STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.page-template {
  .post-title {
    line-height: $line-height;
    max-width: $post-box;
    width: 66.66%;

    @include mq(mobile) {
      width: calc(100% - #{$distance * 2});
    }

    &:first-letter {
      border-bottom: $border / 1.5 solid;
    }
  }

  p {
    font-size: $fdef;
    max-width: $post-box;
    padding-left: $distance * 3;
    width: 66.66%;

    @include mq(mobile) {
      font-size: $fsmall;
      padding-left: $distance;
      width: calc(100% - #{$distance * 2});
    }
  }
}

// Tag who
.tag-who {
  margin-bottom: $header-height;
  margin-top: $header-height / 2;
  max-width: calc(100% - #{$distance * 18});
  position: relative;
  width: 100%;

  @include mq(mobile) {
    margin-bottom: $header-height * .75;
    margin-left: $distance * 6;
    max-width: calc(100% - #{$distance * 9});
  }

  &::before {
    border-top: $border / 1.5 solid $primary;
    content: '';
    position: absolute;
    width: 80%;
  }

  .post-content {
    margin-left: 10%;
    padding-top: $header-height;

    @include mq(mobile) {
      margin-left: $distance * 3;
      padding-top: $header-height / 1.5;
    }
  }

  .box {
    background-color: $secondary;
    display: block;
    height: calc((100vw - #{$distance * 18}) / 2);
    margin-right: 0;
    width: calc((100vw - #{$distance * 18}) / 1.5);

    @include mq(mobile) {
      height: calc((100vw - #{$distance * 9}) / 1.5);
      width: calc(100% - #{$distance});
    }
  }
}

// Tag what
.tag-what {
  max-width: calc(100% - #{$distance * 18});
  padding-top: $header-height / 2;
  position: relative;
  width: 100%;

  @include mq(mobile) {
    margin-left: $distance * 6;
    max-width: calc(100% - #{$distance * 9});
  }

  &::before {
    border-top: $border / 1.5 solid $primary;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
  }

  .post-content {
    background-color: $primary;
    color: $white;
    margin-left: calc(10% - #{$distance * 6});
    padding: $distance * 4 $distance * 6;
    width: calc(80% + #{$distance * 12});

    @include mq(mobile) {
      margin-left: $distance;
      padding: $distance * 2;
      width: calc(100% - #{$distance * 2});
    }

    .post-image {
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      border-left: 1px solid $secondary;
      min-height: 150px;
      position: absolute;
      right: $distance * 6;
      top: $distance * 4;
      width: 25%;

      @include mq(mobile) {
        background-position: bottom center;
        border-left: 0;
        border-top: 1px solid $secondary;
        position: static;
        width: 100%;
      }
    }
  }
}

// Tag product
.tag-product {
  margin-bottom: $header-height * 1.25;
  margin-top: $header-height / 2;
  max-width: calc(100% - #{$distance * 18});
  position: relative;
  width: 100%;

  @include mq(mobile) {
    margin-bottom: $header-height * .75;
    margin-left: $distance * 6;
    max-width: calc(100% - #{$distance * 9});
  }

  &::before {
    border-top: $border / 1.5 solid $primary;
    content: '';
    position: absolute;
    width: 80%;
  }

  .post-content {
    margin-left: 10%;
    padding-top: $header-height;

    @include mq(mobile) {
      margin-left: 0;
      padding-top: $header-height / 2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: $line-height;
      margin-bottom: $distance * 2;
    }

    p {
      width: 100%;
    }
  }

  .hi-box {
    z-index: 1;

    @include mq(mobile) {
      margin-left: $distance;
      width: calc(100% - #{$distance * 2});
    }
  }

  .gray-box {
    left: 40%;
    margin-top: -$distance * 2;
    position: relative;
    transform: translateX(-50%);
    z-index: 0;

    @include mq(mobile) {
      left: $distance * 2;
      transform: none;
      width: calc(100% - #{$distance * 2});
    }
  }
}

.tag-example {
  margin-bottom: $header-height * 1.25;
  margin-top: $header-height / 2;
  margin-left: calc(10% - #{$distance * 6});
  padding: $distance * 4 $distance * 6;
  position: relative;
  width: calc(80% + #{$distance * 12});

  @include mq(mobile) {
    margin-left: $distance * 6;
    padding: 0;
    padding-left: $distance;
    width: calc(100% - #{$distance * 9});
  }

  .post-content,
  .post-image {
    @include inline-block;
  }

  .post-content {
    background-color: $secondary;
    height: 80vw * .25;
    width: 80vw * .25;

    @include mq(mobile) {
      bottom: -$distance;
      height: 25vw;
      margin-bottom: 0;
      position: absolute;
      right: 0;
      width: 50%;
    }

    > div {
      bottom: $distance * 2;
      position: absolute;
      right: $distance;
      width: calc(100% - #{$distance * 2});

      @include mq(mobile) {
        width: 100%;
      }

      * {
        float: right;
        font-size: $fsmall;

        @include mq(mobile) {
          font-size: $ftiny * .8;
        }
      }
    }
  }

  .post-image {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vw * .25;
    width: 80vw * .75;

    @include mq(mobile) {
      height: 40vw;
      width: 100%;
    }
  }
}
// -----------------------------------------------------------------------------
