* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  height: 100vh;
  position: relative;
  width: 100%;
}

.landingpage {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
