* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #212121;
  color: #ffffff;
  height: 100vh;
  position: relative;
  width: 100%;
}

.landingpage {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.logo {
  background-image: url('assets/img/logo-ttt.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
  width: 40vh;
}
